body{
margin:o;
padding:0;
background-image:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.freepik.com%2Ffotos-vetores-gratis%2Fazul-royal&psig=AOvVaw01rf_VaDKIuAVva4gCLbwX&ust=1749649378771000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCPi4oYX-5o0DFQAAAAAdAAAAABAv)
background-size:cover;
background-repeat:no-repeat;
background-position:center;
font-family:Arial,sans-serif;
}